body {
	font-family: Arial;
	background-color: darkorchid;
    background-image: url('hb.jpg');
}

.bex {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	padding: 30px;
	width: 70%;
	height: 400px;
	border: 2px solid white;
	background: pink;
	border-radius: 50px;
	border-width: thick;
	border-style: none;
	border-color: pink;
	top: 85px;
	left: 160px;
	box-shadow: 0px 0px 10px 10px pink;
	transition: all 1s ease-in-out;
}

.bex h1 {
	margin-top: 30px;
}

.bex img {
	margin-top: 40px;
	margin-bottom: auto;
}

.bex:hover {
	scale: 1.02;
}

#aye {
	background-color: crimson; 
	color: white;
	width: 150px;
	height: 75px;
	position: relative;
	top: 50px;
	left: -200px;
	border-radius: 25px;
	border-style: outset;
	border-color: crimson;
	border-width: thick;
	transition: all 0.1s linear;
}

#aye:hover{
	background-color: brown;
}

#nay {
	background-color: darkgreen; 
	color: white;
	width: 150px;
	height: 75px;
	position: relative;
	transition: transform 0.15s ease-in;
	top: -22px;
	left: 180px;
	border-radius: 25px;
	border-style: outset;
	border-color: darkgreen;
	border-width: thick;
}

#nay:hover{
	background-color: green;
}
